.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.container .sidenav p{
  font-size: 30px;
  margin: 15px;
}
.container .mat-drawer{
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px;
  font-size: 25px;
}
.container .mat-drawer .mat-button{
  display: block;
  width:100%;
  text-align: left;
}
.spacer{
  flex: 1 1 auto;
}

