<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" >
    <p>Menu</p>
    <button color="primary" mat-button routerLink="/home" (click)="drawer.toggle()">Home</button>
    <button color="primary" mat-button routerLink="/schedule" (click)="drawer.toggle()">Schedule Vehicle</button>
    <button color="primary" mat-button routerLink="/vehicles"(click)="drawer.toggle()">List of vehicles</button>
  </mat-drawer>
    <div class="sidenav-content">
      <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>
          <mat-icon>directions_car</mat-icon>
      </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
